{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Pacientes</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'core/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="d-flex justify-content-start mb-4">
            <a href="{% url 'home' %}" class="btn btn-primary">Regresar</a>
        </div>
        <h2 class="text-center mb-4">Pacientes</h2>
        {% for paciente in pacientes %}
            <div class="alert alert-info" role="alert">
                {{ paciente.nombre }}
                <a href="{% url 'editar_paciente' paciente.pk %}" class="btn btn-warning btn-sm">Editar</a>
                <form action="{% url 'eliminar_paciente' paciente.pk %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                </form>
            </div>
        {% endfor %}
        <a href="{% url 'nuevo_paciente' %}" class="btn btn-success">Agregar Paciente</a>
    </div>
</body>
</html>
