{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Pacientes</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'core/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <a href="{% url 'home' %}" class="btn btn-primary mb-3">Regresar</a>
        <h1 class="text-center">Pacientes</h1>
        {% for paciente in pacientes %}
            <div class="alert alert-info" role="alert">
                <a href="{% url 'detalle_paciente' paciente.pk %}">{{ paciente.nombre }}</a>
            </div>
        {% endfor %}
        <a href="{% url 'nuevo_paciente' %}" class="btn btn-success">Agregar Paciente</a>
    </div>
</body>
</html>
